<div class="container-dark">
  <div class="rounded-input mt-3 p-4 shadow mb-3">
    <%= simple_form_for @booking do |f| %>
    <%= f.input :beginning, :label => "Beginn des gewünschten Buchungszeitraums"%>
    <%= f.input :end, :label => "Ende des gewünschten Buchungszeitraums" %>
    <%= f.input :seats, :label => "Gewünschte Bestuhlung" %>
    <%= f.input :catering, :label => "Mit Catering?" %>
    <%= f.input :name, :label => "Name" %>
    <%= f.input :email, :label => "E-mail Adresse" %>
    <%= f.submit "Fertig!", class: 'btn btn-yours' %>
    <% end %>
  </div>
</div>

<!-- Following is how I would do the form manually, without using simple_form.
  The reason why I chose to use simple_form is it renders with bootstrap, identifies the input type automatically based on the DB table
  (therefore less verbose)
  and already includes the authenticity token. -->

<!-- <form action="/bookings" method="post">
  <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="beginning">Beginn des gewünschten Buchungszeitraums</label>
  <input type="date" name="booking[beginning]">
  <label for="end">Ende des gewünschten Buchungszeitraums</label>
  <input type="date" name="booking[end]">
  <label for="seats">Gewünschte Bestuhlung</label>
  <input type="number" name="booking[seats]" placeholder="seats">
  <label for="catering">Mit Catering?</label>
  <input type="boolean" name="booking[catering]">
  <label for="name">Name</label>
  <input type="text" name="booking[name]">
  <label for="email">E-mail Adresse</label>
  <input type="text" name="booking[email]">
  <input type="submit" value="Fertig!">
</form> -->
